<div class="form-container">
  <div class="input-container">
    <label class="search-text" for="name">Наименование</label><br>
    <textarea id="name" placeholder="Введите наименование"></textarea>
  </div>
  <div class="flex-container">
    <div class="input-container half-width right-margin">
      <label class="search-text" for="manufacturer">Изготовитель</label><br>
      <textarea id="manufacturer" placeholder="Введите изготовителя"></textarea>
    </div>
    <div class="input-container half-width left-margin">
      <label class="search-text" for="price">Цена</label><br>
      <textarea id="price" placeholder="Введите цену"></textarea>
    </div>
  </div>
  <div class="input-container tall-container">
    <label class="search-text" for="usage">Способ применения</label><br>
    <textarea id="usage" placeholder="Введите способ применения"></textarea>
  </div>
  <div class="input-container tall-container">
    <label class="search-text" for="dosage">Дозировка</label><br>
    <textarea id="dosage" placeholder="Введите дозировку"></textarea>
  </div>
  <div class="input-container tall-container">
    <label class="search-text" for="ingredients">Действующие вещества</label><br>
    <textarea id="ingredients" placeholder="Введите действующие вещества"></textarea>
  </div>
  <button class="button-color">Добавить товар</button>
</div>
