<div class="form-container">
  <div class="input-container">
    <label class="search-text" for="name">Наименование</label><br>
    <input type="text" id="name" placeholder="Введите наименование">
  </div>
  <div class="flex-container">
    <div class="input-container half-width right-margin">
      <label class="search-text" for="manufacturer">Изготовитель</label><br>
      <input type="text" id="manufacturer" placeholder="Введите изготовителя">
    </div>
    <div class="input-container half-width left-margin">
      <label class="search-text" for="price">Цена</label><br>
      <input type="text" id="price" placeholder="Введите цену">
    </div>
  </div>
  <div class="input-container tall-container">
    <label class="search-text" for="usage">Способ применения</label><br>
    <input type="text" id="usage" placeholder="Введите способ применения">
  </div>
  <div class="input-container tall-container">
    <label class="search-text" for="dosage">Дозировка</label><br>
    <input type="text" id="dosage" placeholder="Введите дозировку">
  </div>
  <div class="input-container tall-container">
    <label class="search-text" for="ingredients">Действующие вещества</label><br>
    <input type="text" id="ingredients" placeholder="Введите действующие вещества">
  </div>
  <button class="button-color">Добавить товар</button>
</div>
