<div class="main-card">
  <div class="wrapper">

    <div [id]="!item.id" class="card">
      <div class="product-title">
        <h1>{{item.title}}</h1>
      </div>
      <div class="wrapper-product">
        <div class="product-image">
          <img src="{{item.image}}" alt="Фотография товара">
        </div>
        <div class="product-info">
          <div class="text-general">Производитель: {{item.manufacturer}}</div>
          <div class="recipe-container">
            <img [hidden]="!item.recipeOnly" src="../../../assets/buttons/search-logo.png">
            <div [hidden]="!item.recipeOnly" class="text-general">Рецептурный препарат</div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper">
      <div class="card-pay-form">
        <h2>Цена: {{item.cost}} Руб</h2>
        <button class="button-color">Купить</button>
        <button class="button-clear" (click)="showPharmacies()">Наличие в аптеке</button>
      </div>
      <div class="card-pharmacies" *ngIf="showPharmaciesFlag">
        <div class="cancel-wrapper" (click)="showPharmacies()">
          <img id="close-list-btn" src="../../../assets/buttons/close.png">
        </div>
        <ul class="pharmacy-list" *ngIf="myPharmacies.length > 0; else noProductsMessage">
          <li *ngFor="let pharmacy of myPharmacies" class="pharmacy-item">
            <div class="row">
              <strong class="text-item-list top-left">{{ pharmacy.details.name }} </strong>
              <strong class="text-item-list top-right">{{ pharmacy.details.address }} </strong>
              <strong class="text-item-list bottom-left">{{ pharmacy.details.workingHours }}</strong>
              <strong class="text-item-list bottom-right">{{ pharmacy.details.phone }}</strong>
            </div>
          </li>
        </ul>
        <ng-template #noProductsMessage class="wrapper-msg">
          <p class="text-item-list text-msg">Товара нет в наличии в аптеках</p>
          <p class="text-item-list text-msg">Вы можете заказать его со склада в любую удобную вам аптеку</p>
          <p class="text-item-list text-msg">Время доставки может быть увеличено</p>
        </ng-template>
      </div>
    </div>

  </div>
</div>
