<div class="product-card">
  <div class="product-card__main">
    <div class="product-card__main__title">
      <h1>{{item.title}}</h1>
    </div>
    <div class="product-card__main__info">
      <div class="product-card__main__info__image">
        <img src="{{item.image}}" alt="Фотография товара">
      </div>
      <div class="product-card__main__info__text">
        <div class="text-general">Производитель: {{item.manufacturer}}</div>
        <div class="recipe-info">
          <img src="../../../assets/buttons/search-logo.png" [hidden]="!item.recipeOnly">
          <div  class="text-general" [hidden]="!item.recipeOnly">Рецептурный препарат</div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-card__optional">
    <div class="buy-form">
      <h2>Цена: {{item.cost}} Руб</h2>
      <button class="button-color" (click)="addItemToCart()">Купить</button>
      <button class="button-clear" (click)="showPharmacies()">Наличие в аптеке</button>
    </div>
    <div class="pharmacies" *ngIf="showPharmaciesFlag">
      <div class="pharmacies__close-form" (click)="showPharmacies()">
        <img id="pharmacies__close-form__button" src="../../../assets/buttons/close.png">
      </div>
      <ul class="pharmacies__list--full" *ngIf="myPharmacies.length > 0; else noProductsMessage">
        <li class="pharmacies__list--full__item" *ngFor="let pharmacy of myPharmacies">
          <div class="row">
            <strong class="list-item list-item--top-left">{{ pharmacy.details.name }} </strong>
            <strong class="list-item list-item--top-right">{{ pharmacy.details.address }} </strong>
            <strong class="list-item list-item--bottom-left">{{ pharmacy.details.workingHours }}</strong>
            <strong class="list-item list-item--bottom-right">{{ pharmacy.details.phone }}</strong>
          </div>
        </li>
      </ul>
      <ng-template class="pharmacies__list--empty" #noProductsMessage>
        <p class="list-item text-msg">Товара нет в наличии в аптеках</p>
        <p class="list-item text-msg">Вы можете заказать его со склада в любую удобную вам аптеку</p>
        <p class="list-item text-msg">Время доставки может быть увеличено</p>
      </ng-template>
    </div>
  </div>
</div>
