:host {
  font-family: Futura;
  font-size: 20px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

.content {
  display: flex;
  margin-left: 340px;
  max-width: 1240px;
  flex-direction: column;
}

.card {
  all: unset;
  background-color: #61cac4;
  height: 270px;
  width: 1240px;
  display: flex;
  align-items: center;
  line-height: 20px;
  font-size: 20px;
}

.card.card-small {
  border-radius: 30px;
  height: 55px;
  width: auto;
  padding: 0 20px 0 20px;
  justify-content: center;
  margin-right: 21px;
}
