<div class="card-order">
  <span class="text title">Ваш заказ</span>
  <div class="text line">
    <form>
        <input class="text" type="checkbox" id="checkbox-id">
        <label for="checkbox-id">
          У меня есть рецепт
      </label>
    </form>
  </div>
  <div class="text line">
    <span class="text tag">Доставка</span>
    <span class="text price">0₽</span>
  </div>
  <div class="text line">
    <span class="text tag">Итого</span>
    <span class="text price">{{ calculatePrice() }}₽</span>
  </div>
  <div class="text buttons">
    <button class="button-color" (click)="createOrder()">Оформить заказ</button>
  </div>

</div>
