<div class="main-card">
  <div class="wrapper">
    <div class="card">
      <div class="product-title">
        <h1>Тридевит Витамин D раствор с дозатором 500МЕ 9,2мл</h1>
      </div>
      <div class="wrapper-product">
        <div class="product-image">
          <img src="assets/pictures/order-success-img.png" alt="Фотография товара">
        </div>
        <div class="product-info">
          <div class="text-general">Производитель: Россия</div>
          <div class="recipe-container">
            <img src="assets/buttons/search-logo.png">
            <div class="text-general">Рецептурный препарат</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-pay-form">
      <h2>Цена: 150 Руб</h2>
      <button class="button-color">Купить</button>
      <button class="button-clear">Наличие в аптеке</button>
    </div>
  </div>
</div>
