<div class="registration-page">

  <h1 class="registration-page-h1">Регистрация</h1>
  <form>

    <div class="input-container input-container-margin">
      <label class="search-text">Фамилия Имя Отчество</label>
      <input  class="text-general" type="text">
    </div>

    <div class="input-container">
      <label class="search-text">Мобильный телефон</label>
      <input  class="text-general" type="text">
    </div>

    <div class="input-container">
      <label class="search-text">Пароль</label>
      <input class="text-general" type="text">
    </div>

    <div class="input-container">
      <label class="search-text">Повторите пароль</label>
      <input class="text-general" type="text">
    </div>

    <div class="button-padding">
      <button  class="button-color button-sizes">Зарегистрироваться</button>
    </div>

  </form>

</div>
