<div class="registration-page">

  <h1 style="margin: 0; margin-top: 30px">Регистрация</h1>
  <form>

    <div class="input-container" style="margin-top: 60px">
      <label class="search-text">Фамилия Имя Отчество</label>
      <input type="text" class="text-general">
    </div>

    <div class="input-container">
      <label class="search-text">Мобильный телефон</label>
      <input type="text" class="text-general">
    </div>

    <div class="input-container">
      <label class="search-text">Пароль</label>
      <input type="text" class="text-general">
    </div>

    <div class="input-container">
      <label class="search-text">Повторите пароль</label>
      <input type="text" class="text-general">
    </div>

    <div style="padding-left: 160px">
      <button  class="button-color" style="width: 318px; height: 63px;">Зарегистрироваться</button>
    </div>

  </form>

</div>
