.registration-page {
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 1000px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: left;
  position: relative;
  padding: 50px 60px;
  margin-left: 270px;
}

.registration-page-h1 {
  margin: 30px 0 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 80px;
  background: white;
  border-radius: 20px;
  border: 3px #D9D9D9 solid;
  margin-left: 160px;
  margin-top: 5px;
  margin-bottom: 35px;
}

.input-container-margin{
  margin-top: 50px
}

.input-container input {
  margin-left: 22px;
  font-size: 24px;
  color: black;
  border: none;
  outline: none;
  background-color: transparent;
  word-wrap: break-word;
  overflow-x: scroll;
  resize: none;
}

.input-container label {
  margin-top: 5px;
  margin-left: 20px;
}

.button-padding {
  padding-left: 160px
}

.button-sizes {
  width: 318px;
  height: 63px
}

.error-border {
  border-color: #EA455F;
  margin-bottom: 15px;
  margin-top: 15px;
}

.textErrorColor {
  color: #EA455F;
  padding-left: 160px;
  font-size: 24px;
}
