<div class="main-icon">
  <img
    class="main-icon logo"
    src="/assets/buttons/pill-logo.png">
  <span class="main-icon title">ProPill</span>
</div>
<div class="search-bar">
  <img class="search-icon" alt="search-icon" src="/assets/buttons/search-logo.png"/>
  <form action="/search">
    <input class="textarea" placeholder="Поиск по названию препарата, например Витамин D"
           type="text" [(ngModel)]="searchRequest" autocapitalize="off" autocomplete="off"
           autocorrect="off" spellcheck="false" maxlength="255" >
  </form>
</div>

<button class="button-color search-button" (click)="showItems()" tabindex="0">Искать</button>

<!--Неавторизированный пользователь-->
<button class="button-color registration-button" (click)="null" tabindex="0">Регистрация</button>
<button class="button-color auth-button" (click)="null" tabindex="0">Войти</button>

<!--Авторизированный пользователь-->
<!--<button class="button-color small-button" (click)="null" tabindex="0">-->
<!--  <img src="/assets/buttons/credentioanls-logo.png">-->
<!--</button>-->
<!--<button class="button-color small-button" (click)="null" tabindex="0">-->
<!--  <img src="/assets/buttons/shopping-card-logo.png">-->
<!--</button>-->
<!--<button class="button-color auth-button" (click)="null" tabindex="0">Выход</button>-->

<!--Фармацевт-->
<!--<div class="spacer"></div>-->
<!--<button class="button-color small-button" (click)="null" tabindex="0">-->
<!--  <img src="/assets/buttons/add-item-logo.png">-->
<!--</button>-->
<!--<button class="button-color auth-button" (click)="null" tabindex="0">Выход</button>-->
