<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="card-item.component.css">
  <link rel="stylesheet" href="../../../styles.css">
  <title>Просмотр товара</title>
</head>
<body>
  <div class="wrapper">
    <div class="card">
      <div class="product-title">
        <h1>Тридевит Витамин D раствор с дозатором 500МЕ 9,2мл</h1>
      </div>
      <div class="wrapper-product">
        <div class="product-image">
          <img src="../../assets/card-item/img/item1.png" alt="Фотография товара">
        </div>
        <div class="product-info">
          <div class="manufacturer">Производитель: Россия</div>
          <div class="recipe-container">
            <img src="../../../assets/buttons/search-logo.png">
            <div class="recipe">Рецептурный препарат</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-pay-form">
      <p class="price">Цена: 150 Руб</p>
      <button class="button-settings">Купить</button>
      <button class="pharmacy-button">Наличие в аптеке</button>
    </div>
  </div>
</body>
</html>
