<img class="main-icon"
     alt="ProPill Logo"
     src="../images/icon.png"
/>
<div class="search-bar">
  <img class="search-icon" alt="search-icon" src="../images/search-icon.png"/>

  <form action="/search">
    <input placeholder="Поиск по названию препарата, например Витамин D"
           type="text" name="text" autocapitalize="off" autocomplete="off"
           autocorrect="off" spellcheck="false" maxlength="255" class="textarea">
  </form>
</div>

<button class="button search-button" (click)="null" tabindex="0">Искать</button>
<button class="button registration-button" (click)="null" tabindex="0">Регистрация</button>
<button class="button auth-button" (click)="null" tabindex="0">Войти</button>

