<app-header></app-header>
<div class="order-page">
  <div class="order-page-title">
    <h1 class="order-page-h1">Оформление заказа</h1>
  </div>
  <div class="order-page-form">
    <div class="order-page-data">
      <h2 class="order-page-h2">Контактные данные</h2>
      <form>
        <div class="input-container input-container-margin" [ngClass]="{'error-border': !isValidName}">
          <label class="search-text">Фамилия Имя Отчество</label>
          <input (click)="refresh()" class="text-general" type="text" [(ngModel)]="name">
        </div>
        <strong *ngIf="!isValidName" class="textErrorColor">{{ nameErrorMessage }}</strong>
        <div class="input-container" [ngClass]="{'error-border': !isValidPhone}">
          <label class="search-text">Мобильный телефон</label>
          <input (click)="refresh()" class="text-general" type="text" [(ngModel)]="phone">
        </div>
        <strong *ngIf="!isValidPhone" class="textErrorColor" >{{ phoneErrorMessage }}</strong>
        <h2 class="order-page-h2">Способ получения</h2>
        <div class="input-container" (click)="showPharmacies()">
          <label class="search-text">Аптека</label>
          <div class="text-apothek">{{selectedPharmaName}}</div>
        </div>
        <div *ngIf="(myPharmacies.length > 0) && (showPharmaciesFlag)">
          <ul class="pharmacies__list--full">
            <li class="pharmacies__list--full__item" *ngFor="let pharmacy of myPharmacies">
              <div class="row" (click)="handleApothekeClick(pharmacy.details.name)">
                <strong class="list-item list-item--top-left">{{ pharmacy.details.name }} </strong>
                <strong class="list-item list-item--top-right">{{ pharmacy.details.address }} </strong>
                <strong class="list-item list-item--bottom-left">{{ pharmacy.details.workingHours }}</strong>
                <strong class="list-item list-item--bottom-right">{{ pharmacy.details.phone }}</strong>
              </div>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="order-page-info">
      <h1 class="info-h1">Ваш заказ</h1>
      <h2 class="info-h2">Оплата при получении</h2>
      <h2 class="info-h2">Доставка: {{devPrice}}</h2>
      <h2 class="info-h2">Итого: {{totalPrice}}</h2>
      <button class="button-color" (click)="confirmOrder()">Подтвердить заказ</button>
    </div>
  </div>
</div>
