.order-page {
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: left;
  position: relative;
  padding: 50px 60px;
  margin-left: 270px;
}

.order-page-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-page-h2 {
  font-size: 32px;
}

.info-h2{
  font-size: 28px;
}

.order-page-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
  height: 450px;
  padding: 1px;
  padding-left: 10px;
  margin-left: 50px;
  border-radius: 20px;
  border: 3px #61CAC4 solid;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 80px;
  background: white;
  border-radius: 20px;
  border: 3px #D9D9D9 solid;
  margin-left: 160px;
  margin-top: 5px;
  margin-bottom: 35px;
}

.input-container-margin{
  margin-top: 50px
}

.input-container input {
  margin-left: 22px;
  font-size: 24px;
  color: black;
  border: none;
  outline: none;
  background-color: transparent;
  word-wrap: break-word;
  resize: none;
}

.input-container label {
  margin-top: 5px;
  margin-left: 20px;
}

.error-border {
  border-color: #EA455F;
  margin-bottom: 0px;
  margin-top: 10px;
}

.textErrorColor {
  color: #EA455F;
  padding-left: 160px;
  font-size: 24px;
}

.text-general {
  color: #7A7A7A;
  margin-bottom: 2.0em;
  text-align: left;
}

.text-apothek {
  color: black;
  font-family: Futura, sans-serif;
  margin-bottom: 2.0em;
  text-align: left;
  margin-left: 22px;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: transparent;
  word-wrap: break-word;
  resize: none;
}

.pharmacies__list--full{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1000px;
  height: 310px;
  font-family: Futura, sans-serif;
  border: 3px solid #D9D9D9;
  border-radius: 20px;
  background: white;
  margin-left: 160px;
  margin-top: 5px;
  margin-bottom: 35px;
  overflow: auto;
}

.pharmacies__list--full__item {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}

.row {
  display: grid;
  grid-template-areas:
    'top-left top-right'
    'bottom-left bottom-right';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3px;
  color: #232323;
  font-size: 20px;
  justify-content: center;
  align-content: stretch;
  align-items: end;
  justify-items: stretch;
}

.list-item {
  font-size: 24px;
  font-family: Futura, sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 0.5em;
}

.list-item--top-left {
  grid-area: top-left;
  margin-left: 1em;
  padding-top: 0.5em;
}

.list-item--top-right {
  grid-area: top-right;
  margin-left: 1em;
  padding-top: 0.5em;
}

.list-item--bottom-left {
  grid-area: bottom-left;
  margin-left: 1em;
}

.list-item--bottom-right {
  grid-area: bottom-right;
  margin-left: 1em;
}

.button-color {
  margin-bottom: 10px;
}
