<div class="title">Личный кабинет</div>
<div class="title h2">Мои данные</div>
<div class="text">Иванова Мария Владимировна</div>
<div class="text">+79379585734</div>
<div class="spacer"></div>
<div class="title h2">История заказов</div>
<app-account-order-card [order]="orders[0]"></app-account-order-card>
<app-account-order-card [order]="orders[1]"></app-account-order-card>
<app-account-order-card [order]="orders[1]"></app-account-order-card>
<app-account-order-card [order]="orders[1]"></app-account-order-card>
<app-account-order-card [order]="orders[1]"></app-account-order-card>
