<app-header></app-header>

<div class="login-page">

  <div class="product-image">
    <img src="assets/pictures/authorisation-img.png">
  </div>

  <h1 class="login-page-h1">Авторизация</h1>
  <form #loginForm="ngForm">

    <p class="text-general login-page-text">Введите логин</p>
    <div class="input-container" [ngClass]="{'error-border': !isValid}">
      <input class="text-general" type="text" name="username" [(ngModel)]="username">
    </div>

    <p class="text-general login-page-text">Введите пароль</p>
    <div class="input-container" [ngClass]="{'error-border': !isValid}">
      <input class="text-general" type="password" name="password" [(ngModel)]="password">
    </div>

    <div class="button-padding">
      <button class="button-color button-sizes" (click)="onLogin()">Вход</button>
    </div>

    <div class="error-text" *ngIf="!isValid">Неверно введенные данные</div>

  </form>

</div>
