<div class="login-page">

  <div class="product-image">
    <img src="assets/pictures/authorisation-img.png">
  </div>

  <h1 style="margin: 0; margin-top: 30px">Авторизация</h1>
  <form>
    <p class="text-general" style="padding-left: 200px; margin-bottom: 0; margin-top: 30px">Введите логин</p>
    <div class="input-container">
      <input type="text" id="username" name="username">
    </div>
    <p class="text-general"  style="padding-left: 200px; margin-bottom: 0; margin-top: 30px">Введите пароль</p>
    <div class="input-container">
      <input type="text" id="usernam" name="usernam">
    </div>
    <div style="padding-left: 160px">
    <button  class="button-color" style="width: 152px; height: 63px;">Вход</button>
    </div>
  </form>
</div>
